body {
  background-image: url("https://media.timeout.com/images/101694697/image.jpg");
  background-repeat: no-repeat;
  background-position: top center;


}
h1,h2 {
  text-align: center;
  color: white;
  text-shadow: 3px 2px grey;
}

ul {
  font-size: 2em;
  list-style-type: none;
  text-align: center;
  text-align: center;
  color: white;
  text-shadow: 3px 2px grey;
}
#name {
  font-size: 6em;
}
